.col-md-10.pl-0.pr-0
  nav.nav.navbar-expand-md.navbar-dark.ustMenu
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse')
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarCollapse
      ul.nav.navbar-nav.w-100
        li.nav-item
          a.nav-link(href='#') Menu1
        li.nav-item
          a.nav-link(href='#') Menu2
        li.nav-item.dropdown
          a.nav-link(href='#') Menu3