.row.p-1.banner.align-items-center
  .col-md-6
    .my-auto.pt-auto
      img(src='/img/tarimSmall.png')
  .col-md-6.d-flex.justify-content-end
    .userButton.dropdown
      button.btn.dropdown-toggle#dropdownMenuButton(type='button' data-toggle='dropdown' aria-haspopup='false' aria-expanded='false')
        .text-center.w-100 Ali Osman KASALI
        .text-center.w-100(style='font-size: 10px') Admin
      .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
        a.dropdown-item Ali
        a.dropdown-item Osman