.login-tbn {
    margin-top: 80px;
    padding: 0px;
  }
  
  .card-body {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .banner{

    background-image: -moz-linear-gradient( 90deg, rgb(148,175,197) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(148,175,197) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(148,175,197) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 1px 0px 0px rgba(11, 24, 36, 0.004);
    
  }
  
  .yanMenu {
    border-style: solid;
    border-width: 4px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
    border-color: rgb(180, 180, 180);
    background-image: -moz-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(247,247,247) 40%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(247,247,247) 40%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(247,247,247) 40%, rgb(255,255,255) 100%);
    opacity: 0.79;
    box-shadow: 0px 1px 0px 0px rgba(215, 215, 215, 0.004),inset 0px 1px 0px 0px rgba(187, 187, 187, 0.75);
    
  }
  
    .ustMenu .nav {
   
    background-image: -moz-linear-gradient( 90deg, rgb(69,73,61) 0%, rgb(93,98,84) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(69,73,61) 0%, rgb(93,98,84) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(69,73,61) 0%, rgb(93,98,84) 100%);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
   
    padding: 2px;
  
  }
  .ustMenu  .nav-item{
    margin-right: 10px;
    
    background-image: -moz-linear-gradient( 90deg, rgb(225,225,225) 0%, rgb(240,240,240) 26%, rgb(255,255,255) 81%);
    background-image: -webkit-linear-gradient( 90deg, rgb(225,225,225) 0%, rgb(240,240,240) 26%, rgb(255,255,255) 81%);
    background-image: -ms-linear-gradient( 90deg, rgb(225,225,225) 0%, rgb(240,240,240) 26%, rgb(255,255,255) 81%);
    box-shadow: 0.347px 1.97px 1px 0px rgba(0, 0, 0, 0.2),inset -3.346px -3.716px 5px 0px rgba(213, 213, 213, 0.75);
  }
  .ustMenu .nav-link{
    color: dimgrey!important;
    min-width: 120px;
    padding: 5px!important;
  }
  .ustMenu .nav-link:active{
    color: black !important;
  }
  
   .ustMenu .nav-link:hover {
   
    background-color: rgba(255, 255, 255, 0);
  }
  
  .userButton{
    min-width: 150px;
  height: 38px;
  background-image: url("/img/button.png");
  background-size: cover;
  background-repeat: no-repeat;
    
  
  }
  .userButton div {
    font-size: 10px;
  }
  .userButton button {
    width: 150px;
    height:38px
  }
  .userButton > .dropdown-toggle::after{
    display: none;
  }